
/* ---------------------------------------------------------------Heading */

header {
    margin: 0;
}

.heading {
    background-color: rgba(190, 144, 212,1);
    margin-left: 0px;
    font-family: 'Satisfy', cursive;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 75px;
    margin-top: 0px;
}

.headshot {
    background: url("../images/Entertainment3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

/* ---------------------------------------------------------------Menu */

.menucontainer {
    background-color: rgba(115, 101, 152, 1);
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    
}

span {
    color: white;
}

i {
    color: white;
}

/* ---------------------------------------------------------------Section */

.photo1 {
    background: url("../images/Entertainment1.jpg")
}

.photo2 {
    background: url("../images/Entertainment2.jpg")
}

.photo3 {
    background: url("../images/Entertainment4.jpg")
}

/* ---------------------------------------------------------------Footer */

footer {
    background-color: rgba(115, 101, 152, 1);
    color: white;
}
